nav {
    background-color:#28282B;
    padding: 5px;
}

#rhoutLink {
    margin: 10px;
    color: white;
    font-style: oblique;
    font-weight: bold;
}


#rhoutLink:link {
    transition-duration: 0.3s;
}

#rhoutLink:active {
    color: #E97451;
}

#rhoutLink:hover {
    font-size: 1.2em;
}

#rhoutLink:visited {
    color: none;
}

#rhoutBox {
    font-size: 1.5em;
    background-color: #E97451;
    color: #ffffff;
    text-align: center;
    padding: 60px;
}

#rhoutBox h1 {
    font-style: oblique;
}
/* 
#rhoutBox p {
    background-color: black;
    background-image: linear-gradient(45deg, black, gray);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-weight: bold;
} */

#rhoutBox p {
    font-size: 1em;
    margin-top: -20px;
    font-weight: 500;
}