#topVenuesContainer h2 {
    font-size: 1.8em;
    color: #E97451;
}

#formContainer {
    display: inline-block;
    width: 50%;
}

#imgFestival {
    display: inline-block;
    width: 50%;
    opacity: 90%;
    border-radius: 10px;
}

@media (max-width: 1007px) {
    #formContainer {
        display: block;
        width: 100%;
    }

    #imgFestival {
        width: 100%;
        display: block;
        margin-top: 50px;
        height: auto;
    }
}

@media (max-width: 640px) {
    
}